menu "Display configuration (MIPI)"

config SPI_CLOCK_SPEED_HZ
    int "SPI clock speed in Hz"
    default 48000000
    range 0 60000000
    help
        SPI clock speed in Hz. If you have problems try a lower value.

config MIPI_DISPLAY_GET_ADDRESS_MODE
    hex "Display orientation"
    default 0x08
    help
        See memory access control in the datasheet.

config MIPI_DISPLAY_WIDTH
    int "Display width in pixels"
    default 320

config MIPI_DISPLAY_HEIGHT
    int "Display height in pixels"
    default 240

config MIPI_DISPLAY_OFFSET_X
    int "X offset"
    default 0
    help
        Adjust when using small display and image is not centered.

config MIPI_DISPLAY_OFFSET_Y
    int "Y offset"
    default 0
    help
        Adjust when using small display and image is not centered.

config MIPI_DISPLAY_INVERT
    bool "Invert colors"

config MIPI_DISPLAY_PIN_MISO
    int "MISO pin number"
    default -1

config MIPI_DISPLAY_PIN_MOSI
    int "MOSI pin number"
    default 23

config MIPI_DISPLAY_PIN_CLK
    int "CLK pin number"
    default 18

config MIPI_DISPLAY_PIN_CS
    int "CS pin number"
    default 14

config MIPI_DISPLAY_PIN_DC
    int "DC pin number"
    default 27

config MIPI_DISPLAY_PIN_RST
    int "RST pin number"
    default 33
    help
        RST pin number. Defaults are ok for M5Stick.

config MIPI_DISPLAY_PIN_BL
    int "Backlight pin number"
    default 32

endmenu
